<h1>Generador Congruencial Lineal Multiplicativo.</h1>

<form>
	<div class="row">
		<div class="form-group col-4">
			<input type="email" class="form-control" id="exampleInput1" aria-describedby="">
			<label for="exampleInput1">Input #1</label>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-4">
			<input type="email" class="form-control" id="exampleInput2" aria-describedby="">
			<label for="exampleInput2">Input #2</label>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-4">
			<input type="email" class="form-control" id="exampleInput3" aria-describedby="">
			<label for="exampleInput3">Input #3</label>
		</div>
	</div>
</form>