$fa-font-path : '../../node_modules/font-awesome/fonts';

// GENERAL
$bg-color: #f1f1f1;
$dusty-gray: #989898;
$pomegranate: #f44336;

// FORMS
$focus-color: #2196f3;
$error-color: #f44336;
$white-smoke: #f5f5f5;