<h1>Generador Congruencial Lineal Multiplicativo.</h1>

<form #f="ngForm" novalidate>
	<div class="row">
		<div class="form-group col-4">
            <input 
                onlyNumbers
                type="text" 
                id="parameterA" 
                name="parameterA" 
                class="form-control"
                [(ngModel)]="genValues.parameterA" 
            >
			<label for="parameterA" [ngClass]="{floating: genValues.parameterA}">
                Par&aacute;metro A
            </label>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-4">
            <input 
                onlyNumbers
                type="text" 
                id="parameterM"
                name="parameterM" 
                class="form-control"
                [(ngModel)]="genValues.parameterM" 
            >
			<label for="parameterM" [ngClass]="{floating: genValues.parameterM}">
                Par&aacute;metro M
            </label>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-4">
            <input 
                onlyNumbers
                type="text" 
                id="initialSeed" 
                name="initialSeed" 
                class="form-control"
                [(ngModel)]="genValues.initialSeed" 
            >
			<label for="initialSeed" [ngClass]="{floating: genValues.initialSeed}">
                Semilla Inicial (Z0)
            </label>
		</div>
    </div>
    
    <div class="row">
        <div class="form-group col-4">
            <input 
                onlyNumbers
                type="text" 
                id="numbersQuant" 
                name="numbersQuant" 
                class="form-control"
                [(ngModel)]="genValues.numbersQuant" 
            >
            <label for="numbersQuant" [ngClass]="{floating: genValues.numbersQuant}">
                Cantidad de n&uacute;meros
            </label>
        </div>
    </div>

    <button type="button" class="button button-default" (click)="resetValues()">Reiniciar</button>
    <button type="button" class="button button-default" (click)="populateDefaultValues()">Cargar Valores</button>
    <button type="submit" class="button button-primary" (click)="generateNumbers()">Generar Numeros</button>
</form>